In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\imflyr\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\imflyr\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\imflyr\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\imflyr\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\imflyr\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\imflyr\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd #pd is a module alias name

In [19]:
df = pd.read_csv("Data/customers-100000.csv") # df means data frames

In [20]:
df.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Users
0,1,ffeCAb7AbcB0f07,Jared,Jarvis,Sanchez-Fletcher,Hatfieldshire,Eritrea,274.188.8773x41185,001-215-760-4642x969,gabriellehartman@benjamin.com,11/11/2025,https://www.mccarthy.info/,Vineet Prasad1
1,2,b687FfC4F1600eC,Marie,Malone,Mckay PLC,Robertsonburgh,Botswana,283-236-9529,(189)129-8356x63741,kstafford@sexton.com,5/14/2021,http://www.reynolds.com/,Vineet Prasad2
2,3,9FF9ACbc69dcF9c,Elijah,Barrera,Marks and Sons,Kimbury,Barbados,8252703789,459-916-7241x0909,jeanettecross@brown.com,3/17/2021,https://neal.com/,Vineet Prasad3
3,4,b49edDB1295FF6E,Sheryl,Montgomery,"Kirby, Vaughn and Sanders",Briannaview,Antarctica (the territory South of 60 deg S),425.475.3586,(392)819-9063,thomassierra@barrett.com,9/23/2020,https://www.powell-bryan.com/,Vineet Prasad4
4,5,3dcCbFEB17CCf2E,Jeremy,Houston,Lester-Manning,South Brianna,Micronesia,+1-223-666-5313x4530,252-488-3850x692,rubenwatkins@jacobs-wallace.info,9/18/2020,https://www.carrillo.com/,Vineet Prasad5

In [21]:
df.count()

Index                100000
Customer Id          100000
First Name           100000
Last Name            100000
Company              100000
City                 100000
Country              100000
Phone 1              100000
Phone 2              100000
Email                100000
Subscription Date    100000
Website              100000
Users                100000
dtype: int64

In [33]:
df['Users'].max() # Returns the maximum value over the requested axis.

'Vineet Prasad99999'

In [34]:
df['Users'].min() # Returns the minimum value over the requested axis.

'Vineet Prasad1'

In [32]:
df[df['Users']=='Vineet Prasad1']

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Users
0,1,ffeCAb7AbcB0f07,Jared,Jarvis,Sanchez-Fletcher,Hatfieldshire,Eritrea,274.188.8773x41185,001-215-760-4642x969,gabriellehartman@benjamin.com,11/11/2025,https://www.mccarthy.info/,Vineet Prasad1

In [40]:
df[df['Users']=='Vineet Prasad49999']

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Users
49998,49999,431eE46A0Cf1ec3,Stefanie,Castaneda,Chase-Schneider,Goodbury,Vanuatu,+1-799-345-2786x28803,852-825-1859x7379,emma51@maxwell-bowen.com,10/15/2021,https://www.young.com/,Vineet Prasad49999

In [41]:
df[df['Users']>='Vineet Prasad49999']

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Users
4,5,3dcCbFEB17CCf2E,Jeremy,Houston,Lester-Manning,South Brianna,Micronesia,+1-223-666-5313x4530,252-488-3850x692,rubenwatkins@jacobs-wallace.info,9/18/2020,https://www.carrillo.com/,Vineet Prasad5
5,6,75bEe1B33E517AF,Frank,Villarreal,"Craig, Dennis and Maddox",Reidtown,Panama,+1-165-340-7100x44099,(847)867-2795x043,gmurillo@perez.com,1/13/2022,https://patel.org/,Vineet Prasad6
6,7,CB8b29B8Fbbbe58,Rickey,Fox,"Benson, Gray and Fitzpatrick",Mcintoshberg,United States of America,426.446.3838,437.476.4705,melissabenitez@le.info,11/5/2021,http://www.irwin-donaldson.com/,Vineet Prasad7
7,8,56b3cEA1E6A49F1,Barry,Ware,Glenn Ltd,Lake Pedrofort,American Samoa,101-419-0208x043,931.542.3115x98926,brent60@lopez.com,5/12/2022,https://www.bean.biz/,Vineet Prasad8
8,9,f9443f5f6AF0Da0,Carl,Mcdowell,Davila-Leach,Petersbury,Saint Vincent and the Grenadines,-1642,+1-218-891-5403x7270,toddharris@lowery-rosario.biz,5/28/2022,https://www.burnett.com/,Vineet Prasad9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,99995,f0A7d93bCDDD215,Tyler,Collier,Logan Ltd,South Randallmouth,Moldova,908.251.7653,521.496.2765,leonardruiz@salinas.net,1/20/2021,https://www.delacruz.net/,Vineet Prasad99995
99995,99996,67F24BEBAa16d1c,Dana,Winters,"Pham, Conner and Wade",Kirkfurt,Sierra Leone,820-930-7616,+1-061-779-5511x3267,ppittman@watson.com,5/30/2020,https://www.maynard.com/,Vineet Prasad99996
99996,99997,17b1dbDaB2ad0fB,Gabriela,Pacheco,Fletcher-Hodge,Virginiahaven,Comoros,-9589,(015)822-1443x33211,murillojeremiah@mcmahon-medina.com,4/9/2022,http://www.eaton.com/,Vineet Prasad99997
99997,99998,c586CFBA6fb9dcC,Mikayla,Hubbard,Austin Ltd,Sheriville,Mayotte,+1-567-149-3941x67118,361-900-3348,orhodes@harding-galloway.biz,3/5/2022,https://hayes.com/,Vineet Prasad99998
99998,99999,bb6cb6AC9d0CAf7,Javier,Berg,Welch Inc,Stephenschester,Belarus,(381)105-4698,360-905-2308x301,rodneytanner@jennings-boone.net,12/29/2021,http://zuniga.com/,Vineet Prasad99999

In [43]:
list(df['Company'])[0].upper()

'SANCHEZ-FLETCHER'

In [44]:
list(df['Company'])[0].lower()

'sanchez-fletcher'

In [45]:
list(df['Company'])[51][6:15].upper().strip()

'LAM AND B'

In [46]:
df['Company'] = df['Email'].str[6:15]

In [47]:
df.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Users
0,1,ffeCAb7AbcB0f07,Jared,Jarvis,llehartma,Hatfieldshire,Eritrea,274.188.8773x41185,001-215-760-4642x969,gabriellehartman@benjamin.com,11/11/2025,https://www.mccarthy.info/,Vineet Prasad1
1,2,b687FfC4F1600eC,Marie,Malone,ord@sexto,Robertsonburgh,Botswana,283-236-9529,(189)129-8356x63741,kstafford@sexton.com,5/14/2021,http://www.reynolds.com/,Vineet Prasad2
2,3,9FF9ACbc69dcF9c,Elijah,Barrera,tecross@b,Kimbury,Barbados,8252703789,459-916-7241x0909,jeanettecross@brown.com,3/17/2021,https://neal.com/,Vineet Prasad3
3,4,b49edDB1295FF6E,Sheryl,Montgomery,sierra@ba,Briannaview,Antarctica (the territory South of 60 deg S),425.475.3586,(392)819-9063,thomassierra@barrett.com,9/23/2020,https://www.powell-bryan.com/,Vineet Prasad4
4,5,3dcCbFEB17CCf2E,Jeremy,Houston,atkins@ja,South Brianna,Micronesia,+1-223-666-5313x4530,252-488-3850x692,rubenwatkins@jacobs-wallace.info,9/18/2020,https://www.carrillo.com/,Vineet Prasad5

In [48]:
df.sort_values(by=['Subscription Date'], ascending = False)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Users
14622,14623,8Dbb8dbDe8CEbef,Gabriela,Rivas,annon@shi,Lake Colleen,United Arab Emirates,155.645.5018x3835,217.772.1306,tashacannon@shields.com,9/9/2021,https://thomas.com/,Vineet Prasad14623
83287,83288,F54eC5d75C07d2B,Cassidy,Mitchell,rgordon@b,Loganberg,Panama,001-460-961-1746x632,966.647.8908x40716,spencergordon@booker.com,9/9/2021,http://douglas.com/,Vineet Prasad83288
92904,92905,1DCcE4b1Cd2468E,Joanne,Pittman,clayton@s,Jaimehaven,Tunisia,001-146-706-8494x36085,500-853-7400x979,kelleyclayton@sanford.biz,9/9/2021,http://www.benjamin.com/,Vineet Prasad92905
11333,11334,61D3dCde581850f,Donna,Singh,mccarthy@,Fryton,Saint Vincent and the Grenadines,058.168.8918x914,840.418.3370x29576,evelynmccarthy@mahoney.info,9/9/2021,http://www.koch-wallace.com/,Vineet Prasad11334
37224,37225,bCD4Ee35Cb7B8aB,Alexis,Robertson,t@long-ba,South Andreaborough,Mali,+1-955-626-2788x678,512.637.4948x21674,qwright@long-bauer.com,9/9/2021,https://andersen-lawrence.biz/,Vineet Prasad37225
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84352,84353,BDba3f5B1f6a4fa,Wayne,Hardy,ws@alexan,Danielville,Maldives,798.537.7697,+1-399-340-4649x448,rmathews@alexander.com,1/1/2020,https://richard.biz/,Vineet Prasad84353
77347,77348,6A60acEe8fD63D4,Frances,Parker,kari@nash,West Breannafort,Saudi Arabia,(215)609-4443,801.062.7679x0235,bishopkari@nash-ortiz.info,1/1/2020,https://walker-whitaker.net/,Vineet Prasad77348
57615,57616,f7fdb7BD0fb8BfA,Shawn,Barber,9@russo.b,Crossville,Wallis and Futuna,9096681065,873.996.6110,derek49@russo.biz,1/1/2020,http://wall-olsen.info/,Vineet Prasad57616
29501,29502,3D18aaCC8ebC0c0,Jerry,Hoover,ubio@shah,East Bianca,Falkland Islands (Malvinas),125-090-2230x415,001-264-339-5312,frankrubio@shah.com,1/1/2020,http://www.cooke-tran.com/,Vineet Prasad29502
69282,69283,DC5d742B45A2597,Krista,Tran,@mann.com,Eduardoshire,Turks and Caicos Islands,(494)096-8828x83705,+1-054-504-7486x0054,jose24@mann.com,1/1/2020,http://rojas-barton.com/,Vineet Prasad69283

In [52]:
df.sort_values(by=['Subscription Date'], ascending= True)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Users
3013,3014,d1038EA0cE5b930,Victor,Lowe,nrobles@r,Trevorstad,Singapore,734.603.1366,(866)549-5325x277,jacksonrobles@rodgers.com,1/1/2020,http://barrera.biz/,Vineet Prasad3014
4982,4983,4aA1C7545cCFF37,Fred,Blevins,@mcdonald,West Marisaview,Liechtenstein,(126)451-5145x373,924.588.6628x1426,greg90@mcdonald-dunn.com,1/1/2020,https://carter-clay.com/,Vineet Prasad4983
33011,33012,Dbf2827b8bc12bB,Stacey,Gamble,e86@mclea,Tammyville,Haiti,001-766-973-3789,186.459.4195x460,maurice86@mclean-manning.com,1/1/2020,http://moreno.com/,Vineet Prasad33012
89642,89643,50A714A48C98Afe,Shelia,Carroll,h@potter.,Sethmouth,Comoros,001-159-522-5204x933,001-699-899-1925x765,jchurch@potter.info,1/1/2020,http://www.pratt-clayton.com/,Vineet Prasad89643
58801,58802,7DC3e1efC1Fd867,Carolyn,Perkins,wis@bray-,Lake Gina,Zambia,045.481.5274,001-422-249-2843x057,eriklewis@bray-graves.com,1/1/2020,http://chandler.net/,Vineet Prasad58802
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87617,87618,84312A3bA9001Fc,Melanie,Jefferson,n33@nguye,Virginiatown,Luxembourg,2931466058,-6372,jillian33@nguyen.com,9/9/2021,https://lutz.net/,Vineet Prasad87618
70022,70023,8D8b4C32c8BeA9e,William,Sherman,ahdelacru,Cameronland,Hungary,694.698.1277,001-849-610-9737x128,savannahdelacruz@stanton-landry.com,9/9/2021,https://www.day-beltran.com/,Vineet Prasad70023
19613,19614,361Ed2d3EF0EFEE,Latoya,Wyatt,yce@webb.,Tamiburgh,Guinea-Bissau,468.589.9889x196,184-062-2912x529,rickjoyce@webb.com,9/9/2021,https://taylor-nichols.com/,Vineet Prasad19614
2493,2494,3bB0cf28FC9766A,Willie,Trujillo,38@howard,Lauriestad,Sao Tome and Principe,001-623-788-5945,+1-378-732-5443x1100,melody38@howard.com,9/9/2021,http://www.hartman.org/,Vineet Prasad2494
83287,83288,F54eC5d75C07d2B,Cassidy,Mitchell,rgordon@b,Loganberg,Panama,001-460-961-1746x632,966.647.8908x40716,spencergordon@booker.com,9/9/2021,http://douglas.com/,Vineet Prasad83288